<div class="row">
  <body class="home">
    <div class="jumbotron">
      <h1>Premium Membership</h1>
      <div class="row">
        <div class="col-xs-4 col-sm-4 price-div">
          <h1>$10</h1>
          <h4>One Time Charge</h4>
        </div>
        <div class="col-xs-8 col-sm-8">
          <h3>Includes:</h3>
          <ul class="premium-features">
            <li>Ability to create private wikis</li>
            <li>Allows you to invite others to collaborate on private wikis and share ideas.</li>
            <li>Automatic access to any new features we add!</li>
          </ul>
          <% if user_signed_in? && current_user.role == 'standard' %>
            <%= form_tag charges_path do %>
              <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
            <% end %>
          <% elsif user_signed_in? && current_user.role == 'premium' %>
            <p><strong>Congratulations! You are already a premium member. To change your membership click: <br> <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn' %></strong></p>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</div>
